GIT_SLICE_UPSTREAM_REPO_DIR=repos/upstream-repo
GIT_SLICE_UPSTREAM_REPO_DEFAULT_BRANCH=git-slice-dev
GIT_SLICE_SLICE_REPO_DIR=repos/slice-repo
GIT_SLICE_SLICE_REPO_DEFAULT_BRANCH=main
GIT_SLICE_SLICE_IGNORES='[]'
GIT_SLICE_PUSH_BRANCH_NAME_TEMPLATE='dev/<branch_name>'
GIT_SLICE_PUSH_COMMIT_MSG_REGEX='.*'
